/*
 * Main configuration for TRIBE workflow on Hubrecht HPC
 * Michael VanInsberghe
 * 2021-01-24
 */

params {
  // Workflow flags
  reads = "fastq/*_R{1,2}_001.fastq.gz"
  outdir = 'TRIBE'
  GATK = 'gatk-4.1.9.0/gatk-package-4.1.9.0-local.jar'
  // Paths to genome and annotation files
  genomeDir = false
  genomeAnnotations = false
  genomeFasta = false
  depleteFasta = false
  knownVariants = false
  intervalList = false
  exonsIntervals = false
  intronsIntervals = false
  exonsBed = false
}

// default configuration for scRibo
includeConfig "conf/base.config"

profiles{
  bulk { includeConfig "conf/bulk.config" }
}

params {
  tracedir = "${params.outdir}/pipeline_info"
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

executor {
  name = 'slurm'
  queueSize = 2000
  queue = 'cpu'
}
