/*
 * Base configuration for TRIBE workflow on Hubrecht HPC
 * Michael VanInsberghe
 * 2021-01-24
 */

// flow control
params{
  bulk = false
  deplete = true
  parseReads = '--id'
}

// methods
params{
  trimMethod = 'trim/trim_cs.sh'
  depleteMethod = 'deplete/bwa_deplete_default.sh'
  deduplicateGenomeMethod = 'deduplicate/deduplicate_gene_genome.sh'
  deduplicateTranscriptomeMethod = 'deduplicate/deduplicate_gene_transcriptome.sh'
  qc_plots_method = 'qc/qc_tribe.sh'
}


// Trimming definitions
params{
  threeadapter = 'GTTCAGAGTTCTACA'
  minlength = 15
}


// STARSolo definitions
params{
  whitelist = "${baseDir}/barcodes/CS2.whitelist"
  CBstart = 7
  CBlen = 8
  UMIstart = 1
  UMIlen = 6
  readStrand = "Forward"
  cDNARead = "R2"
}

// GATK definitions
params{
  scatterSplitCigarFiles = 50
  scatterHaplotype = 500
  haplotypePadding = 200
}


// to filter weird junctions
params{
  starOverhang = '125'
  STARmapParams = '--readFilesType Fastx \
    --readFilesCommand zcat \
    --outSAMtype BAM SortedByCoordinate \
    --quantTranscriptomeBan Singleend \
    --quantMode TranscriptomeSAM GeneCounts \
    --seedSearchStartLmax 10 \
    --alignIntronMax 1000000 \
    --outFilterType BySJout \
    --alignSJoverhangMin 8 \
    --outFilterScoreMin 0 \
    --outFilterMultimapNmax 1 \
    --chimScoreSeparation 10 \
    --chimScoreMin 20 \
    --chimSegmentMin 15 \
    --outFilterMismatchNmax 5'
  STARoutSamAttributes = 'NH HI AS nM NM MD jM jI MC ch'
  STARsoloSamAttributes = 'CR UR CB UB GX GN CY UY sS sQ sM'
}
 
